body {
    font-family: Arial, sans-serif;
    background-image: url(5efd3aca1cd8b63d963c932397d08d688e6f7c87_hq.gif);
    margin: 0;
    padding: 20px;
    background-color: #034c6e;
    background-size:  150%;
    background-repeat: no-repeat;
    font-size: large;
  }
 
  h1 {
    text-align: right;
    color: #f1f1f1;
  }
  h2{
    color: #f1f1f1;
    text-align: right;
  }
  p{
    text-align: right;
    color: #f1f1f1;
  }
  h3{
    text-align: right;
    color: #f1f1f1;
font: caption;
font-size: medium;
  }
  
  div{
    text-align: center;
    color:#f1f1f1;
  }
  button{
    transition: background-color 0.9s ease;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 50px;
    position: absolute;
    left: 43%;
    background-color: #f1f1f1;
      
  }